{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
    <title>로그인</title>
</head>

<body>
    <div class="loginbox">
        <h2>로그인</h2>
        <form action="./login_success.html" name="custlogin" method="get">
            <fieldset>
                <legend>로그인 구역</legend>
                <input type="text" id="loginid" placeholder="아이디">
                <input type="text" id="loginpw" placeholder="비밀번호">

                <button type="submit">로그인</button>
                <button type="button" onclick="location.href='register.html'">회원가입</button>

                <a href="find.html">아이디/비밀번호 찾기></a>
            </fieldset>
        </form>
    </div>
</body>
</html>