{% extends "base.html" %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--  <link rel="stylesheet" href="{% static 'css/fishBook_style.css' %}">-->
  {% block title %}
  Fish Book
  {% endblock %}
</head>

{% block content %}
<div id="wrap">
  <div id="header" role="banner">
    <div class="logo_area">
      <h2 class="logo" style="font-family: 'Lilita One', sans-serif;">
        <a href="{% url 'fishBook:my_caught_fish_list' %}">
          Fish Book
        </a>
      </h2>
    </div>
  </div>
  <div id="middle">
    <div class="search_area">
      <form class="search_form" method="get" action="{% url 'fishBook:search_fish' %}">
        <input type="text" name="search" placeholder="  물고기 이름을 입력해주세요">
        <button type="submit">검색</button>
      </form>
    </div>
    <div class="result_area">
      <div class="card_area">
<!--        도감에 등록된 물고기 보여주기-->
        {% if fish_books %}
            {% for fish in fish_books %}
                <div class="card">
                    <!--        사진 경로 설정하기-->
                    <a href="{% url 'fish_info:fish_info' fish.id %}">
                        <img class="card-img-top" src="{{ fish.image }}" alt="{{ fish.image }} 이미지">
                    </a>
                    <div class='card-body'>
                        <h4 class="card-text" style="font-family: 'IBM Plex Sans KR', sans-serif;">{{fish.fish_name}} {{ fish.count }}마리</h4>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h4>도감이 비어있습니다</h4>
            <h4>새로운 물고기를 잡아 도감에 저장해 보세요!</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}