<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- 내비게이션 바 -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'map:fishing_spots' %}">Map</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Mypage</a></li>
            <li><a href="#">FishBook</a></li>
        </ul>
    </nav>

    <!-- 내용 자리 -->
    {% block content %}
    {% endblock %}
</body>
</html>
