<form method="POST", action="{% url 'mypage:delete_profile' %}" style="display:flex; flex-direction: column; align-items: center;">
    {% csrf_token %}
    <div class="title">
        <h3>- 회원탈퇴 -</h3>
    </div>
    <div class="my_infor_area">
        <div class="input_id_space">
            <div class="label_space">
                <p style="font-size: 13px; font-weight: bold;">아이디</p>
            </div>
            <div class="input_bar">
                <input id="username" name="username" class="inputTypeText" placeholder=""  value="" type="text">
            </div>
        </div>
        <div class="input_pw_space">
            <div class="label_space">
                <p style="font-size: 13px; font-weight: bold;">비밀번호</p>
            </div>
            <div class="input_bar">
                <input id="id_old_password" name="password" class="inputTypeText" placeholder="" autocomplete="off" maxlength="16" 0="disabled" value="" type="password">
            </div>
        </div>
    </div>
    <div class="btn_area">
        <button type="submit" onclick="deleteMember()" style="margin-top:20px;">회원탈퇴</button>
    </div>
</form>
{% if messages %}
    {% for message in messages %}
        <script>
            alert('{{ message }}');
            {% with None as message %}
            {% endwith %}
        </script>
    {% endfor %}
{% endif %}
<script>
    window.onunload = function(){
        window.opener.location.reload();
    };
</script>
