{% extends "base.html" %}
{% load static %}
<head>
  {% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/css/mypage_style.css' %}">
    <script>

        function pwmodifyAction() {
            // 새 창을 열어 비밀번호 수정 페이지로 이동합니다.
            var url = "{% url 'mypage:modify_pw' %}";
            window.open(url, "Delete Profile", "width=500,height=200,scrollbars=yes");
        }


        function memberDelAction() {
            // 새 창을 열어 회원탈퇴 페이지로 이동합니다.
            var url = "{% url 'mypage:delete_profile' %}";
            window.open(url, "Delete Profile", "width=500,height=200,scrollbars=yes");
        }

    </script>
  {% endblock %}
  {% block title %}
    비밀번호 재설정
  {% endblock %}
</head>
{% block content %}
<div id="wrap">
    <div id="header" role="banner">
        <div class="logo_area">
            <h2 class="logo">
                <a href="{% url 'mypage:showinfo' %}">
                    My Page
                </a>
            </h2>
        </div>
    </div>
    <div id="middle">
        <div class="result_area">
            <div class="modify_my_info_area">
                <form id="editForm" method="post" action="{% url 'mypage:edit_profile' %}">
                    {% csrf_token %}
                    <div class="my_infor_area">
                        {% if messages %}
                            {% for message in messages %}
                                <script>
                                    alert('{{ message }}');
                                    {% with None as message %}
                                    {% endwith %}
                                </script>
                            {% endfor %}
                        {% endif %}
                        <div class="input_id_space">
                            <div class="label_space">
                                <p>아이디</p>
                            </div>
                            <div class="input_bar">
                                <input id="username" name="username" class="inputTypeText" placeholder=""  value="{{ user.username }}" type="text"  readonly>
                            </div>
                        </div>
                        <div class="input_email_space">
                            <div class="label_space">
                                <p>이메일</p>
                            </div>
                            <div class="input_bar">
                                <input id="email" name="email" class="inputTypeText" placeholder=""  value="{{ user.email }}" type="email">
                            </div>
                        </div>
                        <div class="input_pw_space">
                            <div class="label_space">
                                <p>비밀번호 확인</p>
                            </div>
                            <div class="input_bar">
                                <input id="password" name="password" class="inputTypeText" placeholder="" autocomplete="off" maxlength="16" 0="disabled" value="" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="btn_area">
                        <button type="submit" class="modify_my_info" onclick="memberEditAction()">회원정보 수정</button >
                        {% comment %} <a class="modify_my_info" onclick="memberEditAction()">회원정보수정</a> {% endcomment %}
                        <a class="change_pw" onclick="pwmodifyAction()">비밀번호변경</a>
                        <a class="quit" onclick="memberDelAction(28590, -1, -1)">회원탈퇴</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}