        input {
            display: inline-block;
        }
        
        
        table {
            display: table;
            width: 100%;
            border: 0;
            border-spacing: 0;
            border-collapse: collapse;
            text-indent: initial;
        }
        .tbl_model tbody th {
            border-top: 1px solid #ddd;
            padding: 10px 0 10px 19px;
            border-bottom: 1px solid #ddd;
            color: #353535;
            text-align: left;
            font-weight: normal;
            background: #f9f9f9;
        }

        .tbl_model td {
            display: block;
            border-top: 1px solid #ddd;
            padding: 10px 10px 10px;
            border-bottom: 1px solid #ddd;
            color: #353535;
            vertical-align: middle;
            word-break: break-all;
            word-wrap: break-word;
        }

        .page-header2 {
            margin: 20px 0 20px;
            text-align: center;
        }                        
        .ec-base-button {
            padding: 20px 0;
            text-align: center;
        }
        .btn_left {
            display: inline;
            float: left;
            width: 140px;
            font-size: 13px;
            margin: 2px;
        }
        .btn_left .modify {
            border: 1px solid #ccc;
            border-radius: 3px;
            background: #fff;
            color: #222;
            padding: 10px 0;
            display: block;
            text-align: center;
        }
        .btn_right {
            float: right;
            width: 140px;
            font-size: 13px;
            margin: 2px;
        }
        .btn_right .delete {
            border: 1px solid #ccc;
            border-radius: 3px;
            background: #fff;
            color: #222;
            padding: 10px 0;
            display: block;
            text-align: center;
        }       