<fieldset> 
    <form id="editForm" method="post">
        {% csrf_token %}
        <table border="0" class="tbl_model">
            <caption>
                <span class="blind">내 정보</span>
            </caption>
            <colgroup>
                <col style="width:25%">
                <col style="width:auto">
            </colgroup>
            <tbody>    
                <tr>
                    <th scope="row">
                        <div class="thcell">
                            <label for="{{ user_form.username.id_for_label }}">아이디</label>
                        </div>
                    </th>
                    <td>
                        <div class="tdcell">
                            {{ user_form.username }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="thcell">
                            <label for="{{ password_form.old_password.id_for_label }}">기존 비밀번호</label>
                        </div>
                    </th>
                    <td>
                        <div class="tdcell">
                            {{ password_form.old_password }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="thcell">
                            <label for="{{ password_form.new_password1.id_for_label }}">새 비밀번호</label>
                        </div>
                    </th>
                    <td>
                        <div class="tdcell">
                            {{ password_form.new_password1 }}
                            (영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자)
                        </div>                      
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="thcell">
                            <label for="{{ password_form.new_password