{% extends 'base.html' %}
{% load static %}
<html>
<head>
    {% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/css/camera_style.css' %}">
    {% endblock %}
    {% block title%}CAMERA{% endblock %}
</head>
{% block content %}
<div id="wrap">
  <div id="header" role="banner">
      <div class="logo_area">
          <h2 id="logo">
              <a href="{% url 'analyze:camera' %}">
                  CAMERA
              </a>
          </h2>
      </div>
  </div>
  <div id="middle">
    <div class="btn_area">
      <div class="btn_space">
        <form method="POST" action="{% url 'analyze:camera' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <input class="form-control" type="file" name="image" accept="image/*" capture="environment">
          <button class "submit_btn" type="submit">Analyze</button>
        </form>
      </div>
    </div>
  </div>
</div>  
{% endblock %}