{% extends 'base.html' %}
{% load static %}
<head>
  {% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/css/camera_style.css' %}">
  {% endblock %}
  {% block title%}
  CAMERA
  {% endblock %}
</head>
{% block content %}
<div id="wrap">
  <div id="header" role="banner">
      <div class="logo_area">
          <h2 id="logo">
              <a href="{% url 'analyze:camera' %}">
                  CAMERA
              </a>
          </h2>
      </div>
  </div>
  <div id="middle">
    <div class="btn_area">
      <div class="btn_space">
        <form method="POST" action="{% url 'analyze:camera' %}" enctype="multipart/form-data">
          <div class="information">
            <div class="inform-title">
              <p>※촬영 시 안내사항※</p>
            </div>
            <p>▶  바닥에 놓고 촬영해 주세요!</p>
            <p>　　(어두운 바닥에서 촬영하면 인식이 더 잘 됩니다)</p>
            <p>▶  길이를 알 수 있도록 촬영해 주세요!</p>
            <p>▶  빛 반사에 주의하세요!</p>
            <p>▶  어류 외의 사진은 인식이 안 됩니다!</p>
          </div>
          <div class="btn">
            <label class="camera_button" for="camera_hidden">사진 촬영</label>
            <input class="camera_hidden" id="camera_hidden" name="image" type="file" accept="image/*" capture="camera">
            <button class="submit_btn" type="submit">분석 시작</button>
            <p><a href="/" class="btn btn-primary">메인으로</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}