{% extends 'base.html' %}
{% load static %}
<html>
<head>
    {% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/css/todayFish_style.css' %}">
    {% endblock %}
    {% block title%}Today Fish{% endblock %}
</head>
{% block content %}
<div id="wrap">
    <div id="header" role="banner">
        <div class="logo_area"style="margin-top: 110px;">
            <h2 id="logo">
                {% comment %} <a href="{% url 'analyze:camera' %}"> {% endcomment %}
                    Today My Fish
                {% comment %} </a> {% endcomment %}
            </h2>
        </div>
    </div>
    <div id="middle">
        <div class="result_area">
            <div class="card">
                {% if result %}
                    <div class="fish_information">
                        <div class="card_title">
                            <h3>물고기 정보</h3>
                        </div>
                        <img class="card-img-top" src="http://15.152.232.36/fishBook_image/{{result.id}}.png" alt="{{ result.name }} 이미지" width="200">
                        <div class='card-body'>
                            <table>
                                <tr>
                                    <th>이름</th>
                                    <td>{{result.name}}</td>
                                </tr>
                                <tr>
                                    <th>금지 체장</th>
                                    {% if result.prohibition_size == "없음" %}
                                    <td>없음</td>
                                    {% else %}
                                    <td>{{result.prohibition_size}} cm</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>서식지</th>
                                    <td>{{result.habitat}}</td>
                                </tr>
                                <tr>
                                    <th>분포</th>
                                    <td>{{result.distribution}}</td>
                                </tr>
                                <tr>
                                    <th>금어기</th>
                                    {% if result.limit_start == "없음" and result.limit_end == "없음" %}
                                    <td>없음</td>
                                    {% else %}
                                    <td>{{result.limit_start}} ~ {{result.limit_end}}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>자세히 알아보기</th>
                                    <td><a href="{{result.description}}">더 자세히 알아보기</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                <div class="caught_fish_information">
                    <div class="card_title">
                        <h3>내가잡은 물고기</h3>
                    </div>
                    <img class="card-img-bottom" src="/media/caughtFish_image/{{ result.image }}" alt="{{ result.name }}_user">
                    <div class="caught_fish_card-body">
                        <label>잡은 날짜</label>
                    <p class="card-text">{{ result.caught_date }}</p>
                    </div>
                </div>
                <div class="complete_information">
                    <div class="card mb-3">
                        <h2 class="text-center mb-4">도감 등록 완료!</h2>
                        <p>잡으신 물고기 정보를 성공적으로 저장했습니다.</p>
                        <p>잡으신 물고기는 도감에서 확인할 수 있습니다.</p>
                    </div>
                    <div class="check_book">
                        <a href="/fishBook" class="btn btn-primary">도감 확인하기</a>
                        <a href="/analyze/camera" class="btn btn-primary">다른 물고기 찍기</a>
                    </div>
                </div>
            {% else %}
                <div class="no_fish_inform">
                    <p class="no_fish_txt">분석 결과가 없습니다. 다시 시도해주세요.</p>
                </div>
                <div class="text-center">
                    <a href="/analyze/camera" class="btn btn-primary">새로운 물고기 찍기</a>
                </div>
            {% endif %}
                <div class="go_to_main">
                    <a href="/" class="btn btn-primary">메인으로</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal 팝업창 -->
<div class="modal-bg"></div>
<div class="modal-wrap">
    modal sample
</div>
{% endblock %}