{% extends "base.html" %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block title %}
  로그인
  {% endblock %}
</head>

{% block content %}
<div class="loginbox">
  <h2>로그인</h2>
  <form method="post">
    {% csrf_token %}
    <p>
      <input title="" type="email" name="login" placeholder="이메일" autofocus="autofocus" required="" id="id_login">
    </p>
    <p>
      <input title="" type="password" name="password" placeholder="비밀번호" required="" id="id_password">
    </p>
    <button type="submit">로그인</button>
    <button type="button" onclick="location.href='/accounts/signup/'">회원가입</button>
    {% load socialaccount %}
    <a href="{% provider_login_url 'kakao' method='oauth2' %}">카카오 로그인</a>
  </form>
</div>
{% endblock %}