{% extends "base.html" %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block title %}
  회원가입
  {% endblock %}
</head>

{% block content %}
<div class="loginbox">
  <h2>회원가입</h2>
  <form method="post">
    {% csrf_token %}
    <p>
      <input title="" type="email" name="email" placeholder="이메일" required="" id="id_email">
    </p>
    <p>
      <input title="숫자, 영문 8자 이상" type="password" name="password1" placeholder="비밀번호" required="" id="id_password1">
    </p>
    <p>
      <input title="" type="password" name="password2" placeholder="비밀번호 확인" required="" id="id_password2">
    </p>
    <button type="submit">가입하기</button>
    <button type="button" onclick="location.href='/accounts/login/'">돌아가기</button>
  </form>
</div>
{% endblock %}