
/* 미디어 쿼리 */
@media (max-width: 768px) {
  /* 모바일 화면일 경우 */


  /* 도감 서식*/

  #middle {
    height : 100%;
    width: 100%;
  }

  .search_area {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
    height: 10%;
    top: 85px;
  }

  .search_form {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 80%;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #FFFFFF;
  }

  .search_form input[type="text"] {
    flex: 1;
    height: 20px;
    margin-right : 10px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
  }

  .search_form button[type="submit"] {
    border: none;
    height: 25px;
    margin-right: 5px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
  }

  .result_area {
    display: flex;
    justify-content: center;
    width : 100%;
    height : 77%;
    padding-top : 70px;
  }

  .card_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-basis: calc(33.33% - 20px); */
    width : 85%;
    height : 100%;
  }

  .card {
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* height : 60px; */
  }


  .card-img-top {
    width : 50px;
  }

  .card-body {
    margin : 4px;
  }

  .card-body h4 {
    color : white;
    margin : 0px;
  }


  .error-area h4 {
    text-align: center;
    color : #FFFFFF;
  }


  .no_book {
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
  }

  .no_book h4 {
    color : white;
    margin : 5px;
  }



}