
/* 미디어 쿼리 */
@media (max-width: 768px) {
  

  #middle {
    height : 100%;
    width: 100%;
    padding-top : 30px;
  }
  

  .result_area {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  
  #editForm {
    display : flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding-top:60px;
  }


  .modify_my_info_area {
    display : flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* padding-top:60px; */
  }


  .my_infor_area {
    display : flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }


  .input_id_space {
    display : flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
  }

  .input_email_space {
    display : flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
  }

  .input_pw_space {
    display : flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
  }

  .label_space {
    margin-bottom: 5px;
  }

  .label_space p {
    color: white;
    font-size: 10px;
    font-weight: bold;
  }


  .input_bar input {
    width : 100%;
    margin-bottom : 10px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.55);
    border: none;
    border-radius: 10px;
    width : 100%;
  }


  .btn_area {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top : 30px;
  }


  .btn_area button{
    height: 25px;
    background-color: #eca0a6;
    border-radius: 6px;
    border: none;
    color: white; /* 버튼 글자색 #191654;*/
    font-weight: bold;
    font-size : 13px;
    width : 100%;
    margin : 5px;
    padding : 0px;
  }

  .btn_area a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: #eca0a6;
    border-radius: 6px;
    border: none;
    color: white; /* 버튼 글자색 #191654;*/
    font-weight: bold;
    font-size : 13px;
    width : 50%;
    margin : 5px;
  }

  .btn_space {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  .text-muted {
    color: black;
    font-size: 10px;
    font-weight: bold;
  }
  
  .reset_btn_space {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .btn {
    height: 25px;
    background-color: #eca0a6;
    border-radius: 6px;
    border: none;
    color: white; /* 버튼 글자색 #191654;*/
    font-weight: bold;
    font-size : 13px;
    width : 100%;
  }

}
