
/* 미디어 쿼리 */
@media (max-width: 768px) {
  /* 모바일 화면일 경우 */
  html, body {
    font-size: 10px;
    height : 100%;
    width : 100%;
    margin : 0px;
    overflow : auto;
    background: linear-gradient(to top, #304454, #285f82, #eca0a6);
  }

  /*내비게이션 서식*/

  .navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width : 100%;
    top: 0;
    left: 0px;
    right: 0px;
    background-color: white;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding : 0px;
  }

  .container-box{
    width : 70%;
    margin: 0 auto;
  }

  .navbar .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .navbar .nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .navbar .nav-left a,
  .navbar .nav-right a{
    display: flex;
    flex-direction: row;
    margin-right: 8px;
    color: #000000;
    font-size: 10px;
    font-weight : bold;
    text-decoration: none;
  }


  .navbar-bottom {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width : 100%;
    height : 55px;
    bottom: 0px;
    background-color: white;
  }

  .navbar-bottom ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding : 0px;
    width : 100%
    height: 70%; /* 요소들의 높이를 100%로 조절합니다. */
  }

  .navbar-bottom li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width : 100%;
  }


  .navbar-bottom li a {
    margin-right : 15px;
    margin-left : 15px;
    width : 50%;
  }


  #wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to top, #304454, #285f82, #eca0a6);
    overflow: visible; /* 스크롤 생성 */
    margin-top : 50px;
  }

  #header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
  }

  .logo_area {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    background-color: rgba(236, 160, 166, 0.45);
    height : 100%;
    width: 100%;
  }

  .logo_area h2 {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    width: 100%; /* 폭 설정 */
    height : 100%;
    margin : 0px;
    color: white;
    font-weight: bold;
    font-size: 12px;
  }


  .logo_area h2 a {
    color: white;
    font-weight: bold;
    font-size: 12px;
  }

  .logo_area h2 a:link, .logo_area h2 a:hover {
    text-decoration: none; /* 밑줄 제거 */
  }

  /로그인, 회원가입 박스 서식*/

  #token-error {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .token {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .error {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
    color: #ffffff;
    margin-right : 20px;
  }

  .alert-danger {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .alert-danger strong {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
  }

  .alert-danger ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }


  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    width : 100%;
    height: 100%;
  }


  .input_area {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    width: 90%;
    margin-top : 60px;
  }

  .input-bar {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    width: 60%;
  }


  .input_area p {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    width: 100%; /* 입력바가 차지하는 폭 설정 */
    margin: 15px 0px; /* 화면 중앙에 위치하도록 margin 값 설정 */
  }

  .input_area input  {
    width: 100%; /* 입력바가 차지하는 폭 설정 */
    height: 25px;
    background-color: rgba(255, 255, 255, 0.55);
    border: none;
    border-radius: 10px;
  }


  .login_btn_area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 20px;
  }

  .login_btn_area button {
    margin-right : 10px;
    margin-left : 10px;
    height: 25px;
    background-color: #eca0a6;
    border-radius: 6px;
    border: none;
    color: white; /* 버튼 글자색 #191654;*/
    font-weight : bold;
  }

  .signup_btn_area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 20px;
  }

  .signup_btn_area button {
    margin-right : 10px;
    margin-left : 10px;
    border: none;
    height: 25px;
    background-color: #eca0a6;
    border-radius: 6px;
    border: none;
    color: white; /* 버튼 글자색 #191654;*/
    font-weight : bold;
  }

  #middle {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 100%;
    width: 100%;
    margin-top : 30px;
  }



}
