{% extends "base.html" %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  {% block title %}
  로그인
  {% endblock %}
</head>

{% block content %}
<div id="wrap">
  <div id="header" role="banner">
    <div class="logo_area">
      <h2 class="logo">
        로그인
      </h2>
    </div>
  </div>
  <div id="middle">
    <div class="result_area">
      <div class="loginbox">
        <form method="post" action="{% url 'accounts:login' %}">
          {% csrf_token %}
          {% include "form_errors.html" %}
          <p>
            <input type="text" class="form-control" name="username" placeholder="아이디" id="username" value="{{ form.username.value|default_if_none:'' }}">
          </p>
          <p>
            <input type="password" class="form-control" name="password" placeholder="비밀번호" id="password" value="{{ form.password.value|default_if_none:'' }}">
          </p>
          <button type="submit" class="btn btn-primary">로그인</button>
          <button type="button" onclick="location.href='/accounts/signup/'">회원가입</button>
        </form>
      </div>
    </div>	
  </div>
</div>
{% endblock %}