{% extends "base.html" %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  {% block title %}
  아이디 찾기
  {% endblock %}
</head>
{% block content %}
<div id="wrap">
  <div id="header" role="banner">
    <div class="logo_area">
      <h2 class="logo">
        아이디 찾기
      </h2>
    </div>
  </div>
  <div id="middle">
    <div class="result_area">
      <div class="col">
        {% csrf_token %}
        <div class="mb">
          <!--이메일-->
          <label name="label_email" for="{{ form_id.email.id_for_label }}">{{ form_id.email.label }}</label>
          <div>{{ form_id.email }}</div>
          <small class="text-muted">등록하신 아이디와 이메일 주소가 일치해야 합니다.</small>
        </div>
        <div>
          <button id="find_id" name="recover_id">아이디 찾기</button>
          <button type="button" onclick="location.href='/accounts/login/'">돌아가기</button>
        </div>
        <div id="result_id"></div>
        <div>
          <a class="nav-link" href="{% url 'accounts:recover_pw' %}">비밀번호 찾기</a>
        </div>

        <script type="text/javascript">
          $(document).ready(function () {
            $('#find_id').click(function () {
              var email = $("#form_email").val();

              $.ajax({
                type: "POST",
                url: "/accounts/recover/id/find/",
                dataType: "json",
                data: {
                  'email': email,
                  'csrfmiddlewaretoken': '{{csrf_token}}',
                },
                success: function (response) {
                  $('#result_id').replaceWith(
                    '<div id="result_id"><hr><div><span>입력하신 이메일로 가입된 아이디는 </span><span id="result_id">' +
                      response.result_id +'</span><span> 입니다.</span></div><hr></div>')
                },
                error: function () {
                  if (email == "") {
                    alert('이메일을 입력해 주세요.');
                  } else {
                     alert('입력하신 이메일이 일치하지 않거나 존재하지 않습니다.');
                  }
                },
              });
            })
          });
        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}