{% extends "base.html" %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block title %}
  회원가입
  {% endblock %}
</head>

{% block content %}
<div class="loginbox">
  <div id="header">
    <div class="logo_area">
      <h2 class="logo">
        회원가입
      </h2>
    </div>
  </div>
  <div id="middle">
    <form method="post">
      {% csrf_token %}
      {% include "form_errors.html" %}
      <div class="input_area">
        <p>
          <input type="text" class="form-control" name="username" placeholder=" 아이디를 입력해주세요" id="username" value="{{ form.username.value|default_if_none:'' }}">
        </p>
        <p>
          <input type="email" class="form-control" name="email" placeholder=" 이메일을 입력해주세요" id="email" value="{{ form.email.value|default_if_none:'' }}">
        </p>
        <p>
          <input type="password" class="form-control" name="password1" placeholder=" 비밀번호를 입력해주세요" id="password1" value="{{ form.password1.value|default_if_none:'' }}">
        </p>
        <p>
          <input type="password" class="form-control" name="password2" placeholder=" 비밀번호 확인" id="password2" value="{{ form.password2.value|default_if_none:'' }}">
        </p>
      </div>
      <div class="signup_btn_area">
        <button type="submit" class="btn btn-primary">가입하기</button>
        <button type="button" onclick="location.href='/accounts/login/'">돌아가기</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}