{% extends "base.html" %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block title %}
  회원가입
  {% endblock %}
</head>

{% block content %}
<div class="loginbox">
  <h2>회원가입</h2>
  <form method="post">
    {% csrf_token %}
    {% include "form_errors.html" %}
    <p>
      <input type="text" class="form-control" name="username" placeholder="아이디" id="username" value="{{ form.username.value|default_if_none:'' }}">
    </p>
    <p>
      <input type="email" class="form-control" name="email" placeholder="이메일"" id="email" value="{{ form.email.value|default_if_none:'' }}">
    </p>
    <p>
      <input type="password" class="form-control" name="password1" placeholder="비밀번호" id="password1" value="{{ form.password1.value|default_if_none:'' }}">
    </p>
    <p>
      <input type="password" class="form-control" name="password2" placeholder="비밀번호 확인" id="password2" value="{{ form.password2.value|default_if_none:'' }}">
    </p>
    <button type="submit">가입하기</button>
    <button type="button" onclick="location.href='/accounts/login/'">돌아가기</button>
  </form>
</div>
{% endblock %}